@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MP_Login.cshtml";
}
<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div class="login-bg">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form class="login100-form validate-form">
                        <span class="login100-form-logo">
                            <img src="~/Images/ico/icon-72.png" />
                        </span>

                        <span class="login100-form-title p-b-15 p-t-15">
                            Log in
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Enter username">
                            <input class="input100" type="text" id="txtUsername" name="txtUsername" required placeholder="Username">
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" type="password" id="txtPassword" name="txtPassword" required placeholder="Password" onkeyup="entlogin(event)">
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>


                        <div class="container-login100-form-btn">
                            <button id="btnLogin" type="button" class="login100-form-btn"><i class="fa fa-sign-in-alt"></i>&nbsp;เข้าสู่ระบบ</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

<script>
    $(document).ready(function () {
        $('#btnLogin').on('click', function () {
            if (GetValTextBox('txtUsername') == "" && GetValTextBox('txtPassword') == "") {
                DialogWarning('Username or Password is null');
            } else {
                swal.disableButtons();
                var obj = {
                    'USERNAME': GetValTextBox('txtUsername'),
                    'PASSWORD': GetValTextBox('txtPassword'),
                };
                BlockUI();

                $.ajax({
                    url: '@Url.Action("Authenticate", "Login")',
                    type: 'POST',
                    dataType: 'json',
                    data: { 'data': obj },
                    success: function (response) {
                        UnblockUI();
                        if (response.Status == SysProcess.SessionExpired) {
                            PopupSessionTimeOut('@Url.Action("Index", "Login")');
                        } else if (response.Status == SysProcess.Duplicate) {
                            DialogDuplicate();
                        } else if (response.Status == SysProcess.Failed) {
                            DialogWarning(response.Msg);
                        } else {
                            window.location.href = '@Url.Action("Index", "Job")';
                            //DialogSucessRedirect('@Url.Action("Index", "Job")');
                        }
                    },
                    error: function () {
                    }
                });
            }
        });
    });

    const entlogin = (e) => {
        if (e.keyCode === 13) {
            // Cancel the default action, if needed
            e.preventDefault();
            // Trigger the button element with a click
            document.getElementById("btnLogin").click();
        }
    }
</script>


