@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MP_Back.cshtml";
}
<div class="card-body">
    <div>
        <div class="form-group">
            <a id="btnAdd" class="btn btn-success" href="@Url.Action("CreateEmployee","Employee")" title="Add" data-toggle="tooltip"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</a>
        </div>
        <div class="row">
            <div id="divData" class="col-sm-12">
                <div class="table-responsive">
                    <table id="tbSearchData" class="table tableData" style="min-width:1200px">
                        <thead class="thead-HMCPO darkCustom">
                            <tr>
                                <th>#</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">LastName</th>
                                <th class="text-center">ID Card</th>
                                <th class="text-center">Position</th>
                                <th class="text-center">Create Date</th>
                                <th class="text-center">Create By</th>
                                <th class="text-center">Update Date</th>
                                <th class="text-center">Update By</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="card-footer bg-light">
</div>

<script>
var urlSearchData = "@Url.Action("GetData", "Employee")";

    $(document).ready(function () {
        SearchData();
    });

    function SearchData() {
        var obj = {
            'USER_ID': "",//GetValTextBox('hddID'),
            'USER_NAME': GetValTextBox('txtUsername'),
            'PASSWORD': GetValTextBox('txtPassword'),
            'FULLNAME': GetValTextBox('txtFirstname'),
            'LASTNAME': GetValTextBox('txtLastname'),
            'IDCARD': GetValTextBox('txtIDCard'),
            'POSITION': GetValDropdown('ddlPosition')
        }

        BlockUI();
        $.ajax({
            url: '@Url.Action("GetData", "Employee")',
            type: 'POST',
            //contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            data: { 'data': obj },
            success: function (response) {
                UnblockUI();
                BindDataTable(response);
            },
            error: function () {
            }
        });
    }

    function BindDataTable(arrData_) {
        $("#tbSearchData tbody").html("");
            let html = '';
            $.each(arrData_, function (i, el) {
                let td = '';
                td = '<td class="text-center">' + (i + 1 )+ '</td>';
                td += '<td>' + (el.FULLNAME || '') + '</td>';
                td += '<td>' + (el.LASTNAME || '') + '</td>';
                td += '<td>' + (el.IDCARD || '') + '</td>';
                td += '<td>' + (el.POSITION || '') + '</td>';
                td += '<td>' + (el.CREATE_DATE || '') + '</td>';
                td += '<td>' + (el.CREATE_BY || '') + '</td>';
                td += '<td>' + (el.UPDATE_DATE || '') + '</td>';
                td += '<td>' + (el.UPDATE_BY || '') + '</td>';
                td += '<td class="text-center">' + '<a href="@Url.Action("CreateEmployee", "Employee")' + '?str=' + el.USER_ID_ENCRYPT + '" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></a>' + '</td>';
                html += "<tr>" + td + "</tr>";
            });
            $("table[id$=tbSearchData] tbody").html(html);
        $('#tbSearchData').DataTable();
    }
</script>

