
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MP_Back.cshtml";
}
<div class="card-body">
    <div>
        <div class="form-group">
            <a id="btnAdd" class="btn btn-success" href="@Url.Action("CreateEmployee","Employee")" title="Add" data-toggle="tooltip"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</a>
        </div>
        <div class="row">
            <div id="divData" class="col-sm-12">
                <div class="table-responsive">
                    <table id="tbData" class="table tableData">
                        <thead class="thead-HMCPO darkCustom">
                            <tr>
                                <th style="width: 11%"></th>
                                <th class="text-center" style="width: 30%">Name</th>
                                <th class="text-center" style="width: 30%">Position</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="card-footer bg-light">
</div>

<script>
    $(document).ready(function () {
        $('#tbData').DataTable();
    });
</script>

