<!DOCTYPE html>
<html>
<head>
    <!-- ICONS -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Images/ico/icon-114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Images/ico/icon-114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Images/ico/icon-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/Images/ico/icon-57.png" />
    <link rel="shortcut icon" href="~/Images/ico/icon-fav.png" />

    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    <script src="~/lib/jquery-3.6.0/jquery-3.6.0.min.js"></script>
    @*  fontawesome *@
    <link href="~/lib/fontawesome-5.0.13/css/fontawesome-all.css" rel="stylesheet" />


    @* Bootstrap *@
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/icon.css" rel="stylesheet" />

    @* ThaiSansNeue *@
    <link href="~/Fonts/ThaiSansNeue/css/fontface.css" rel="stylesheet" />

    @* BlockUI *@
    <link href="~/css/BlockUI-Loading.css" rel="stylesheet" />
    <script src="~/js/jquery.blockUI.js"></script>

    @* System *@
    <link href="~/css/Customs.css" rel="stylesheet" />
    <link href="~/css/easy.css" rel="stylesheet" />
    <script src="~/js/System/sysFunction.js"></script>
    <script src="~/js/CommonScript.js"></script>


    <!--===============================================================================================-->

    <link href="~/lib/Login_v3/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/lib/Login_v3/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/lib/Login_v3/vendor/css-hamburgers/hamburgers.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/lib/Login_v3/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/lib/Login_v3/css/util.css" rel="stylesheet" />
    <link href="~/lib/Login_v3/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <script src="~/lib/Login_v3/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->

    <link href="~/css/_MP_Login.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <div>
            @RenderBody()
        </div>
        <div class="clearfix"></div>
    </div>
</body>
</html>
