
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MP_Back.cshtml";
}
<div class="card-body">
    <div>
        <div id="divForm">
            <div class="container">

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtJobDateFrom">Job Date from</label>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" id="txtJobDateFrom" name="txtJobDateFrom">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtJobDateTo">To</label>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" id="txtJobDateTo" name="txtJobDateTo">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtPartNo">Customer Name</label>
                        <input type="text" class="form-control" id="txtPartNo" value="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddlPartName">Part Name</label>
                        <select id="ddlPartName" name="ddlPartName" class="form-control">
                            <option value="" selected>Choose...</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ddlLocation">Location</label>
                        <select id="ddlLocation" name="ddlLocation" class="form-control">
                            <option value="" selected>Choose...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ddlPartName">License No</label>
                        <input type="text" class="form-control" id="txtLicenseNo" value="">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtFixDateFrom">Fix Date from</label>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" id="txtFixDateFrom" name="txtFixDateFrom">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtFixDateTo">To</label>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" id="txtFixDateTo" name="txtFixDateTo">
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="txtCloseJobDateFrom">Close Job Date from</label>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" id="txtCloseJobDateFrom" name="txtCloseJobDateFrom">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="txtCloseJobDateTo">To</label>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input type="text" class="form-control" id="txtCloseJobDateTo" name="txtCloseJobDateTo">
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 text-center">
                    <button id="btnSearch" type="button" style="margin:0!important" class="btn btn-info" title="Search" data-toggle="tooltip"><i class="fa fa-search"></i>&nbsp;Search</button>
                    <button id="btnPDF" type="button" class="btn btn-success" title="PDF" data-toggle="tooltip"><i class="fa fa-file-pdf"></i>&nbsp;Print</button>
                    <button id="btnExcel" type="button" class="btn btn-dark" title="Excel" data-toggle="tooltip"><i class="fa fa-file-excel"></i>&nbsp;Export</button>

                </div>


                <div class="row mt-5">
                    <div id="divData" class="col-sm-12">
                        <div class="table-responsive">
                            <table id="tbSearchData" class="table tableData" style="min-width:1500px">
                                <thead class="thead-HMCPO darkCustom">
                                    <tr>
                                        <th class="text-center">job no</th>
                                        <th class="text-center">job create</th>
                                        <th class="text-center">license no</th>
                                        <th class="text-center">emp name</th>
                                        <th class="text-center">summary</th>
                                        <th class="text-center">fix date</th>
                                        <th class="text-center">close date</th>
                                        <th class="text-center">customer name</th>
                                        <th class="text-center">invoice no</th>
                                        <th class="text-center">type job</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var urlSearchData = "@Url.Action("GetData", "ReportJob")";

    $(document).ready(function () {
        SetDateRangePicker($('#txtJobDateFrom'), $('#txtJobDateTo'));
        SetDateRangePicker($('#txtFixDateFrom'), $('#txtFixDateTo'));
        SetDateRangePicker($('#txtCloseJobDateFrom'), $('#txtCloseJobDateTo'));

        SearchData();

        $('#btnSearch').on('click', function () {
            SearchData();
        });
    });

    function SearchData() {
        var obj = {
            JOB_DATE_FROM: "",
            JOB_DATE_TO: "",
            CUSTOMER_NAME: "",
            FIX_DATE_FROM: "",
            FIX_DATE_TO: "",
            CLOSE_DT_FROM: "",
            CLOSE_DT_TO: "",
            LICENSE_NO: "",
            USER_PRINT: "",
            TYPE_JOB: "",
            TEACHNICIAL: "",
            REPORT_TYPE: "search",
        }

        BlockUI();
        $.ajax({
            url: urlSearchData,
            type: 'POST',
            dataType: 'json',
            data: { 'data': obj },
            success: function (response) {
                UnblockUI();
                if (response.Status == SysProcess.SessionExpired) {
                    PopupSessionTimeOut('@Url.Action("Index","Login")');
                } else if (response.Status == SysProcess.Failed) {
                    DialogWarning(response.Msg);
                } else {
                    BindDataTable(response.data.SUMMARY_JOB_LIST);
                }
            },
            error: function () {
            }
        });
    }

    function BindDataTable(arrData_) {
        var table = $('#tbSearchData').DataTable();
        table.destroy();

        $("#tbSearchData tbody").html("");
            let html = '';
            $.each(arrData_, function (i, el) {
                let td = '';
                td = '<td class="text-center">' + (el.JOB_ID || '') + '</td>';
                td += '<td class="text-center">' + (el.CREATE_DATE || '') + '</td>';
                td += '<td class="text-left">' + (el.LICENSE_NO || '') + '</td>';
                td += '<td class="text-center">' + (el.EMPLOYEENAME || '') + '</td>';
                td += '<td class="text-right">' + (el.SUMMARY || '') + '</td>';
                td += '<td class="text-right">' + (el.FIX_DATE || '') + '</td>';
                td += '<td class="text-right">' + (el.CLOSE_DATE || '') + '</td>';
                td += '<td class="text-center">' + (el.CUSTOMERNAME || '') + '</td>';
                td += '<td class="text-right">' + (el.INVOICE_NO || '') + '</td>';
                td += '<td class="text-right">' + (el.JOBDESCRIPTION || '') + '</td>';
                html += "<tr>" + td + "</tr>";
            });

        $("table[id$=tbSearchData] tbody").html(html);

        table.DataTable({
            //scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            //columnDefs: [
            //    {
            //        orderable: false,
            //        className: 'select-checkbox',
            //        targets: 0
            //    }
            //    , { width: 35, targets: 0 }
            //    , { width: 70, targets: 1 }
            //    , { width: 350, targets: 3 }
            //],
        });
    }
</script>
