
/*****************************************/


.float-right {
    float: right;
}


.cursor-pointer {
    cursor: pointer;
}


.sort:after {
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    opacity: 1;
    padding: 0 5px;
    color: #fff !important;
    float: right;
}


table.tableData > tbody > tr > td {
    border: 1px solid #dee2e6;
    word-break: break-all !important;
}

.padding-top-20 {
    padding-top: 20px;
}

table.tableData > thead > tr > th > span.checkbox {
    padding-left: 0 !important;
}

    table.tableData > thead > tr > th > span.checkbox > label {
        margin-bottom: 0 !important;
    }


.btn-warning {
    color: #ffffff;
    background-color: #f39c12;
    border-color: #f39c12;
}

    .btn-warning:hover {
        color: #ffffff;
        background-color: #de8f13;
        border-color: #de8f13;
    }

    .btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle {
        color: #ffffff;
        background-color: #de8f13;
        border-color: #de8f13;
    }

    .btn-warning.disabled, .btn-warning:disabled {
        color: #ffffff;
        background-color: #de8f13;
        border-color: #de8f13;
    }

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

    .btn-danger:hover {
        color: #fff;
        background-color: #c82333;
        border-color: #bd2130;
    }

    .btn-danger:focus, .btn-danger.focus {
        box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
    }

    .btn-danger.disabled, .btn-danger:disabled {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
    .show > .btn-danger.dropdown-toggle {
        color: #fff;
        background-color: #bd2130;
        border-color: #b21f2d;
    }

        .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
        .show > .btn-danger.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
        }


.form-control {
    font-size: 14px !important;
}


.bg-secondary {
    /*background-color: #24ace3 !important;*/
    /*background-color: #687ddb !important;*/
    background-color: rgba(0, 14, 99, 0.92) !important;
}

.darkCustom th {
    border: 1px solid #FFFFFF !important;
    background-color: #29abe2 !important;
}

.thead-HMCPO {
    color: #fff;
    border: 1px solid #FFFFFF !important;
    background-color: #29abe2 !important;
}

    .thead-HMCPO th {
        color: #fff;
        border: 1px solid #FFFFFF !important;
        background-color: #29abe2 !important;
    }

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
}

.dataNotFound {
    color: #1b1464 !important;
    text-align: center !important;
    background-color: #f9f9f9 !important;
    height: 80px !important;
    padding: 30px !important;
    border: 1px solid #adb5be !important;
}

.dataNotFoundGraph {
    color: #ff0000 !important;
    text-align: center !important;
    /* background-color: #f9f9f9 !important; */
    /* height: 80px !important; */
    padding: 10px !important;
    /* border: 1px solid #adb5be !important; */
}

.titleGraph {
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

#tbData td {
    word-break: break-all;
}

/*bootstrap select*/
.dropdown-toggle {
    color: #212529;
    background-color: #ffffff !important;
    border-color: #ced4da !important;
}

.filter-option-inner-inner, .dropdown-item {
    font-size: 14px !important;
}

/****************/

.font-13 {
    font-size: 13px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-18 {
    font-size: 18px !important;
}

.text-yellow {
    color: yellow;
}

button:hover, .checkbox > input + label {
    cursor: pointer !important;
}

/*Tab nav*/
div.card-tab {
    border: 0;
    margin-bottom: 30px;
    /*margin-top: 50px;*/
    border-radius: 6px;
    color: rgba(0,0,0,.87);
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

    div.card-tab.card-plain {
        background: transparent;
        box-shadow: none;
    }

    div.card-tab .card-header {
        border-radius: 3px;
        padding: 10px 15px;
        margin-left: 15px;
        margin-right: 15px;
        /*margin-top: -30px;*/
        border: 0;
        /*background: linear-gradient(60deg,#eee,#bdbdbd);*/
    }

.card-plain .card-header:not(.card-avatar) {
    margin-left: 0;
    margin-right: 0;
}

.div.card-tab .card-body {
    padding: 15px 30px;
}

div.card-tab .card-header-primary {
    background: linear-gradient(60deg,#ab47bc,#7b1fa2);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6);
}

div.card-tab .card-header-danger {
    background: linear-gradient(60deg,#ef5350,#d32f2f);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(244,67,54,.6);
}

div.card .card-header-primary {
    /*background: linear-gradient(60deg,#1152ca,#0d1840d9);*/
    /*background: linear-gradient(60deg,#1152ca,#0d1840d9);*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f6ecc+0,1b156b+71,0b2a49+100&1+0,1+48,0.96+100 */
    background: -moz-linear-gradient(-45deg, rgba(63,110,204,1) 0%, rgba(39,50,138,1) 48%, rgba(27,21,107,0.98) 71%, rgba(11,42,73,0.96) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(63,110,204,1) 0%,rgba(39,50,138,1) 48%,rgba(27,21,107,0.98) 71%,rgba(11,42,73,0.96) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(63,110,204,1) 0%,rgba(39,50,138,1) 48%,rgba(27,21,107,0.98) 71%,rgba(11,42,73,0.96) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f6ecc', endColorstr='#f50b2a49',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    /*box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(39, 50, 176, 0.6);*/
}

div.card .card-header-light {
    background: rgba(140, 140, 140, 0.57);
    background: -moz-linear-gradient(left, rgba(72, 65, 65, 0.74) 0%, rgba(64, 57, 57, 0.54) 53%, rgba(35, 33, 33, 0.65) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(72, 65, 65, 0.74)), color-stop(53%, rgba(64, 57, 57, 0.54)), color-stop(100%, rgba(35, 33, 33, 0.65)));
    background: -webkit-linear-gradient(left, rgba(72, 65, 65, 0.74) 0%, rgba(64, 57, 57, 0.54) 53%, rgba(35, 33, 33, 0.65) 100%);
    background: -o-linear-gradient(left, rgba(72, 65, 65, 0.74) 0%, rgba(64, 57, 57, 0.54) 53%, rgba(35, 33, 33, 0.65) 100%);
    background: -ms-linear-gradient(left, rgba(72, 65, 65, 0.74) 0%, rgba(64, 57, 57, 0.54) 53%, rgba(35, 33, 33, 0.65) 100%);
    background: linear-gradient(to right, rgba(72, 65, 65, 0.74) 0%, rgba(64, 57, 57, 0.54) 53%, rgba(35, 33, 33, 0.65) 100%);
    /*background: linear-gradient(to right,  rgba(64, 57, 57, 0.54) 0%,  rgba(64, 57, 57, 0.54) 53%,  rgba(140, 140, 140, 0.57) 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#8c8c8c', GradientType=1 );
}

/*div.card-tab .card-header-info {
    background: linear-gradient(60deg,#476bbc,#1f3ba2);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(39, 50, 176, 0.6);
}*/
div.card-tab .card-header-info {
    /*background: linear-gradient(60deg,#1152ca,#0d1840d9);*/
    /*background: linear-gradient(60deg,#1152ca,#0d1840d9);*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f6ecc+0,1b156b+71,0b2a49+100&1+0,1+48,0.96+100 */
    background: -moz-linear-gradient(-45deg, rgba(63,110,204,1) 0%, rgba(39,50,138,1) 48%, rgba(27,21,107,0.98) 71%, rgba(11,42,73,0.96) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(63,110,204,1) 0%,rgba(39,50,138,1) 48%,rgba(27,21,107,0.98) 71%,rgba(11,42,73,0.96) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(63,110,204,1) 0%,rgba(39,50,138,1) 48%,rgba(27,21,107,0.98) 71%,rgba(11,42,73,0.96) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f6ecc', endColorstr='#f50b2a49',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(39, 50, 176, 0.6);
}

div.card-tab .card-header-Dash {
    background: linear-gradient(60deg,#35bff2,#29abe2);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(39, 50, 176, 0.6);
}

.card-nav-tabs .card-header {
    /*margin-top: -30px !important;*/
}

.nav-tabs {
    border: 0;
    border-radius: 3px;
    padding: 0 15px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

    .nav-tabs .nav-item .nav-link.active {
        /*background-color: #F44336;*/
    }

    .nav-tabs .nav-item .nav-link {
        border: 0 !important;
        color: #fff !important;
        font-weight: 500;
    }

    .nav-tabs .nav-item .nav-link {
        color: #fff;
        border: 0;
        margin: 0;
        border-radius: 3px;
        line-height: 20px;
        text-transform: uppercase;
        font-size: 12px;
        padding: 5px 15px;
        background-color: transparent;
        transition: background-color .3s 0s;
    }

.nav-link {
    display: block;
}

.nav-tabs .nav-item .material-icons {
    margin: -1px 5px 0 0;
    vertical-align: middle;
}

.nav .nav-item {
    position: relative;
}


.card-body-custom {
    border: 1px solid #dfdfdf;
    border-radius: 0px 0px 10px 10px;
}

/*Modal Custom*/
.modal-header-info {
    color: white !important;
    background-color: rgba(28, 73, 163, 0.73);
}

.spLink {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}
