
@{
    ViewData["Title"] = "CreateJob";
    Layout = "~/Views/Shared/_MP_Back.cshtml";
}
<div class="card-body">
    <div>
        <div id="divForm">
            <div class="container">
                <form>
                    <div class="form-group">
                        <label for="inputAddress">Job</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Mechanic</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">Status</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div id="divbtnSearch" class="form-group form-control-inline">
                        <button id="btnSearch" type="button" class="btn btn-info" title="Search" data-toggle="tooltip">
                            <i class="fa fa-search"></i>&nbsp;Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="card-footer bg-light">
</div>

