<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\netcoreapp3.1\StoreManagement.exe" stdoutLogEnabled="false" hostingModel="InProcess" arguments="">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44363" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.101\DotnetTools\dotnet-watch\6.0.101-servicing.21569.16\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:50195/StoreManagement/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5+kePFvgc/x6ugWhZgWMfwjAtuYFDnvMg8Rk0SoGFv+kYtgeu4tL/MnHd9M0cw0EX5jRUif7Mv74G0Dj6KXeO+ANMa4u+ALDIexHGCJZENFKSbs4xezgrUhf77ZC0EcIbr3E28kx7vEJjd/wY2MJnUXjrPml6YX/EJJPVX1VWD9upi0p0HuttKjWjCWhGwf7537lgrQnSvgtotJtj9REo0u+IwANLW+Dw40VPzBXZ33hEDvUa90yEKXdjj2HScEZgyRxSGCyMm2CldVlYk6GuNZycv/jTNbOF4emeNYM3x2Voym6o9kfaLWL0SoOz63Eqx54VOflCg/WpoaW6iF6rQIDAQAB" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>